*.pyc
.vscode
.DS_Store
output
build
diff_rasterization/diff_rast.egg-info
diff_gaussian_rasterization.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
test
data
nohup.out
temp
submodules/diff-gaussian-rasterization/diff-gaussian-rasterization.egg-info
submodules/diff-gaussian-rasterization/build
submodules/diff-gaussian-rasterization/dist
submodules/omnidata/pretrained_models

